/Library
/Logs
/obj
/Temp
/UserSettings
.vsconfig
/.vs
/.vscode
Packages/packages-lock.json
ProjectSettings/QualitySettings.asset
SRP-Practice.sln
*.csproj
Unity.PlasticSCM.Editor.csproj
Unity.RenderPipelines.Core.Editor.csproj
Unity.RenderPipelines.Core.Editor.Tests.csproj
Unity.RenderPipelines.Core.Runtime.csproj
Unity.RenderPipelines.Core.Runtime.Tests.csproj
Unity.RenderPipelines.Core.ShaderLibrary.csproj
Unity.VisualScripting.SettingsProvider.Editor.csproj
Unity.VisualScripting.Shared.Editor.csproj
UnityEditor.UI.csproj
UnityEditor.UI.EditorTests.csproj
UnityEngine.UI.csproj
UnityEngine.UI.Tests.csproj
Unity.PlasticSCM.Editor.csproj
Unity.RenderPipelines.Core.Editor.csproj
Unity.RenderPipelines.Core.Editor.Tests.csproj
Unity.RenderPipelines.Core.Runtime.csproj
Unity.RenderPipelines.Core.Runtime.Tests.csproj
Unity.RenderPipelines.Core.ShaderLibrary.csproj
Unity.VisualScripting.SettingsProvider.Editor.csproj
Unity.VisualScripting.Shared.Editor.csproj
UnityEditor.UI.csproj
UnityEditor.UI.EditorTests.csproj
UnityEngine.UI.csproj
UnityEngine.UI.Tests.csproj
